@import "../../../styles/variables";

.image {
  border-width: 1rem !important;
  width: 50%;
  z-index: 2;
}
.card {
  border-radius: $radius;
  border: 0;
  margin-top: -2.25rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
  
}
