.title{
    font-weight: 700;
    line-height: 72px;
    font-size: 48px;
}

.subtitle{
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
}

.body{
    font-weight: 700;
    line-height: 72px;
    font-size: 48px;
}