
@import "./variables";
@import 'bootstrap';
@import './datepicker';
@import './scrollbar';

@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';

body,html{
  font-family: 'Poppins', sans-serif;
  background-color: $dark;
}

.position-absolute-custom {
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 50%;
}
.max-height-no-margin {
  position: relative;
  height: calc(100vh - #{$navbar-height} - 10px) !important;
}
.max-height {
  margin-top: $navbar-height;
  @extend .max-height-no-margin;
}